<nav
  class="navbar navbar-expand-lg navbar-light pr-4 pl-4"
  style="background: transparent;position: fixed;z-index: 2;width: 100%;"
>
  <div class="" style="text-align: center;">
    <a class="navbar-brand text-light" href="#"><b>Navbar</b></a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="mr-2">
      <nav class="navbar">
        <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="text"
            list="choosing"
            placeholder="Search"
          />
          <button
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit"
          >Search</button>
          <datalist id="choosing">
            <option value="supermarket"></option>
            <option value="home nurse"></option>
            <option value="ceson"></option>
            <option value="catering"></option>
          </datalist>
        </form>
      </nav>
    </div>
    <div class="shake-icon mr-3">
      <a
        href="/notification"
        class="icon-button"
        style="text-decoration: none;"
      >
        <span class="material-icons">notifications</span>
        {{#if notify}}
          <span class="icon-button__badge">!</span>
        {{else}}
        {{/if}}
      </a>
    </div>
    <div class="dropdown">
      <button
        class="btn dropdown-toggle text-light"
        style="background-color: #15181e;"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <b>
          {{#if user}}
            {{user.name}}
          {{else}}
            Account
          {{/if}}
        </b>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#if user}}
          <a class="dropdown-item" href="/logout">Logout</a>
        {{else}}
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/signup">Signup</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

{{#if notify}}
  <style>
    .shake-icon { animation: shake 0.5s infinite; border-radius: 50%; }
    @keyframes shake { 0% { transform: translateX(0); } 25% { transform:
    translateX(-5px); } 50% { transform: translateX(5px); } 75% { transform:
    translateX(-5px); } 100% { transform: translateX(0); } }
  </style>
{{/if}}

<!-- Chat Button -->
<button
  id="chat-button"
  style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;"
  onclick="openChatPage()"
>Chat</button>

<!-- JavaScript to open chat page -->
<script>
  function openChatPage() { window.open('/chat', '_blank',
  'width=400,height=400'); }
</script>