<div class="row pl-5 pr-5 pt-5 m-3">
    <div class="col-md-6 mt-5" style="width: 100%;height: auto;">
        <a href="/reqcontract?wktype=sm" style="text-decoration: none;">
            <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 100px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 29px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 30px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
        </a>
    </div>
    <div class="col-md-6 mt-5" style="width: 100%;height: auto;">
         <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 50px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-stethoscope" style="font-size:36px;"></i></b></p>
              <p class=" pr-5 text-light" style="text-align: right;font-size: 30px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> Home Nurse</span></b></p>
                <p class=" pl-5 pb-5 text-light" style="font-size: 30px;"><b><span style="color: #C993e8;font-weight: 800;"></span>Experianced</span></b></p>
        </div>
         <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
             <p class="pl-5 pt-5 text-light" style="font-size: 50px;"><b>UI<span style="color: #C993e8;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-coffee" style="font-size:36px"></i></b></p>
             <p class=" pr-5 text-light" style="text-align: right;font-size: 30px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> Catering Boys</span></b></p>
                <p class=" pl-5 pb-5 text-light" style="font-size: 30px;"><b><span style="color: #C993e8;font-weight: 800;"></span>Clean Shot</span></b></p>
        </div>
    </div>
</div>

<div class="row pl-5 pr-5 m-auto">
    <div class="col-md-4 " style="width: 100%;height: auto;">
        <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 40px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 20px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 20px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
    </div>
    <div class="col-md-4 " style="width: 100%;height: auto;">
        <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 40px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 20px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 20px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
    </div>
    <div class="col-md-4 " style="width: 100%;height: auto;">
        <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 40px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 20px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 20px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
    </div>
</div>
<div class="row pl-5 pr-5 m-auto">
    <div class="col-md-3 " style="width: 100%;height: auto;">
        <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 40px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 20px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 20px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
    </div>
    <div class="col-md-3 " style="width: 100%;height: auto;">
        <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 40px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 20px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 20px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
    </div>
    <div class="col-md-3 " style="width: 100%;height: auto;">
        <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 40px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 20px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 20px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
    </div>
    <div class="col-md-3 " style="width: 100%;height: auto;">
        <div class="m-5" style="height: auto;box-shadow: #C993e8 0px 20px 30px -10px;">
            <p class="pl-5 pt-5 text-light" style="font-size: 40px;"><b>UI<span style="color: #C993e8;">.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></b></p>
            
             <p class="pl-3 pt-5 text-light" style="writing-mode: tb-rl;font-size: 20px; "><b>SUPER MARKET<span style="color: #C993e8;">.</span></b></p>
             <p class="pb-5 pr-5 text-light" style="text-align: right;font-size: 20px;"><b><span style="color: #C993e8;font-weight: 800;"><b>#</b></span> CREATE NUMBER OF <span style=" display: block;">EMPLOYEE</span></b></p>
        </div>
    </div>
</div>


