<div class="container-fluid">
  <div class="row pl-5 pr-5 pt-5 m-3">
    <div class="col-md-12 mt-5 p-4">
      {{#if nots}}
        {{#each nots}}
          {{#if this.info.reqpay}}
           <div class="col-md-6  message-box" style="background-color: red;"> <!-- Added offset-md-6 to align to the right -->
            <h5 class="text-light ml-5">
              {{this.info.msg}} !</h5>
            <a href="/payform" class="ml-5 btn btn-success">Pay</a>
          {{else}}
            <div class="col-md-6 offset-md-6 message-box-no" style="background-color: green;"> <!-- Added offset-md-6 to align to the right -->
            <h5 class="text-light ml-5">
              {{this.info.msg}} !</h5>
            <a href="/payform" class="ml-5 btn btn-success">Pay</a>
          {{/if}}
          </div>
        {{/each}}
      {{else}}
        <h1>No Notifications Available</h1>
      {{/if}}
     
    </div>
  </div>
</div>

<style>
    .message-box {
        width: 800px;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        color: white;
    }

    .message-box::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 10px;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: red white;
        background: transparent;
        width: 20px;
        height: 20px;
        transform: rotate(135deg);
    }
</style>
